@keyframes show {
    0% {opacity: 0; filter: blur(5px);}
    100% {opacity: 1; filter: blur(0);}
}

@keyframes hide {
    0% {opacity: 1; filter: blur(0);}
    100% {opacity: 0; filter: blur(5px);}
}

main {
    height: 100vh;
    width: 100vw;
    background: #efefef;
    font-size: 27px;

    .content {
        width: 500px;
        margin: 0 auto;
        padding: 10% 0;
        color: #b4b4b4;
        box-sizing: border-box;
        word-break: break-all;

        span {
            opacity: 0;
            filter: blur(5px);
            transition: opacity 1s;
            position: absolute;
            transition: transform .5s ease;
            animation: show .5s ease 0s forwards;

            &.hidden {
                filter: blur(0);
                opacity: 1;
                animation: hide .5s ease 0s forwards;
            }
        }
    }
}